.row
  .col-sm-9
    %h1
      Articles
      = link_to 'New Article', new_article_path, class: "btn btn-primary btn-sm", style: "margin-left: 20px;"

    %table
      %thead
        %tr
          %th 
          %th

      %tbody
        - @articles.each do |article|
          %tr
            %td
              = link_to sanitize("<span class='oi oi-pencil' title='edit' aria-hidden='true'></span>"), edit_article_path(article), style: "color: grey;"
              &nbsp;
              = link_to sanitize("<span class='oi oi-trash' title='delete' aria-hidden='true'></span>"), article, method: :delete, data: { confirm: 'Are you sure?' }, style: "color: grey;"
            %td{style: "padding-right: 100px;"}
              &nbsp; &#183; &nbsp;
              
              = link_to article.name, article
              
  .col-sm-3
    = render partial: 'tags'
