:css
  .articles { padding: 8px; font-size: 14px;}
  .articles a { color: grey; font-size: 0.75em; padding-left: 20px;}
  .title { margin-left: 20px; }
  .delete { color: grey; font-size: 0.75em; }

.row
  .col-sm-8
    %h1
      Articles
      = link_to 'New Article', new_article_path, class: "btn btn-primary btn-sm", style: "margin-left: 20px;"

    %table.table-hover.table-bordered
      %tbody
        - @articles.each do |article|
          %tr
            %td.articles
              = link_to sanitize("<span class='oi oi-pencil' title='edit' aria-hidden='true'></span>"), edit_article_path(article)
              
              = link_to sanitize("<span class='oi oi-trash' title='delete' aria-hidden='true'></span>"), article, method: :delete, data: { confirm: 'Are you sure?' }
              
              %span.title
                = link_to article.name, article
  .col-sm-2
    %h2
      Filter
    %div
      %form{method: :get}
        
        - if params[:tag]
          = hidden_field_tag :tag, params[:tag]
        
        - selected = params[:article_type] if params[:article_type]
        = select_tag :article_type, options_for_select( enum_collection_from_class('Article', :article_type), selected), {:prompt => "- by type -", onchange: "this.form.submit();"}
        
              
  .col-sm-2
    = render partial: 'tags'
