!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Minisearch
    = csrf_meta_tags
    = csp_meta_tag
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    
    
  %body
    
    = render partial: 'topnav'
    
    .container
      = yield
